<div class="text-center">
  <% if flash.any? %>
      <% flash.each do |name, message| %>
        <%= content_tag :div, message, class: "alert alert-success" %>
      <% end %>
  <% end %>
  <h1 class="display-4 fw-bold">AskMe</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Get quickly answer on your question from our experts. </p>

    <% @users.select { |user| user.questions.count > 1 }.sample(5).each do |user| %>
      <div class="users-list-item">
        <div class="user-image-div user-image-div-small">
          <%= link_to image_tag(user_avatar(user), class: 'user-image'), user_path(user) %>
        </div>
      </div>
    <% end %>

  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <%= image_tag 'bootstrap-docs.png', class: "img-fluid border rounded-3 shadow-lg mb-4", alt:"Example image", width:"700" ,height:"500", loading:"lazy" %>
    </div>
  </div>
  </div>
</div>
